<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
<img src="{{ user.photo_in_gallery.profile_avatar.image.url }}">
{{user.gallery}}
<form action="{% url 'shelf' %}"  method="POST">
    {% csrf_token %}
    <h1 class="r"><font size="5" color="DimGrey" face=Roboto>Полка</font></h1>
    <p> {{ shelf_form }}</p>
<input class="button" type="submit">

</form>
 {% else %}
<p></p><a href= "{% url 'user'  %}">Зарегистрироваться </a>
<p></p><a href= "{% url 'login'  %}">Войти </a>
 {% endif %}
</body>
</html>